<h2>Userpage: <%= @user.nickname %></h2>

  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
      <% @user.attendances.each do |attendance| %>
          <div class="col-3">
              <div class="item mr-3">
                <div class="item-background">
                  <div class="card-match-infos">
                    <div>
                      <h2><%= attendance.match.sport %></h2>
                    </div>
                    <div>
                      <%= link_to match_path(attendance.match) do %>
                        <h2><%= attendance.match.date.strftime("%b %e, %l:%M %p") %></h2>
                      <% end %>
                    </div>
                    <div>
                      <p>Hosted by: <%= attendance.match.user.nickname %></p>
                    </div>
                    <div>
                      <p>Location: <%= attendance.match.location %></p>
                    </div>
                    <div>
                       <% if policy(attendance).destroy? %>
                        <%= link_to 'cancel', attendance_path(attendance), method: :delete, class: 'dashboard-btn' %>
                    <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
      <% @user.attendances.each do |attendance| %>
        <div class="col-12 col-md-6 col-lg-3 ml-4">
            <div class="item">
              <h2><%= attendance.match.sport %></h2>
                <%= link_to match_path(attendance.match) do %>
                  <h2><%= attendance.match.date.strftime("%b %e, %l:%M %p") %></h2>
                <% end %>
                <p>Hosted by: <%= attendance.match.user.nickname %></p>
                <p>Location: <%= attendance.match.location %></p>
                 <% if policy(attendance).destroy? %>
                  <%= link_to 'cancel', attendance_path(attendance), method: :delete, class: 'dashboard-btn' %>
                <% end %>
            </div>
        </div>
      <% end %>
    </div>
</div>


<h1>Upcoming:</h1>
<div class="attendance-cards">
  <% @user.attendances.each do |attendance| %>
    <p><%= attendance.match.date %></p>
    <p><%= attendance.match.description %></p>
    <p>ID: <%= attendance.id %></p>
    <% if policy(attendance).destroy? %>
      <%= link_to 'cancel', attendance_path(attendance), method: :delete %>
    <% end %>
    <p>Host: <%= attendance.match.user.nickname %></p>
  <% end %>
</div>
<h1>Hosting:</h1>
<div class="owner-cards">
  <% @user.matches.each do |match| %>
    <p><%= match.date %></p>
    <p><%= match.description %></p>
  <% end %>
</div>
