<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="play-tab" data-toggle="tab" href="#play" role="tab" aria-controls="play" aria-selected="true">Play</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="false">Host</a>
  </li>
</ul>
<!-- All tab content under here -->
<div class="tab-content" id="myTabContent">
  <!-- Content for Play Tab -->
  <div class="tab-pane fade show active" id="play" role="tabpanel" aria-labelledby="play-tab">
    <!-- Upcoming Matches to be played -->
    <h1 class="dashboard-title">Upcoming for <%= @user.nickname %> :</h1>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        <%= render "shared/current-matches" %>
      </div>
      <!-- Matches already played -->
      <h1 class="dashboard-title">Matches played:</h1>
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        <%= render "shared/played-matches" %>
      </div>
    </div>
  </div>
  <!-- Content for Host Tab -->
  <div class="tab-pane fade" id="host" role="tabpanel" aria-labelledby="host-tab">
    <div class="create-event">

      <%= link_to 'Post a new match', new_match_path, class: 'btn btn-warning btn-block'%>

    </div>
    <!-- Hosted matches in future -->
    <h1 class="dashboard-title">Matches <%= @user.nickname %> is hosting:</h1>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        <%= render "shared/host-matches" %>
      </div>
      <!-- Previously Hosted Matches -->
      <h1 class="dashboard-title">Matches <%= @user.nickname %> hosted previously:</h1>
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        <%= render "shared/hosted-matches" %>
      </div>
    </div>
  </div>
</div>
