<div class="dash-top">
  <!-- this is the left box -->
  <div class="action-box show-card-background-owner mt-3 mx-5">
    <h2>ACTIONS</h2>
    <div class="action-list">
      <ul>
        <% @user.matches.each do |match| %>
            <% match.attendances.each do |attendance| %>
            <% if attendance.status == 'pending' %>
              <li>
                <div class="action-user">
                  <p>
                  <%= attendance.user.nickname %> is <span class="pending"> <%= attendance.status %></span> for <%= attendance.match.sport %> on <%= attendance.match.date.strftime("%B %d") %>
                  </p>
                   <button id="confirm" class="pending-btn">
                      <i class="fas fa-ellipsis-h"></i></button>
                    <%= link_to "", attendance_path(attendance), method: :patch, id: "confirm-link", class: "hidden" %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- this is the right box -->
  <div class="action-box show-card-background-owner mt-3 mx-5">
    <h2>NEXT</h2>
    <div class="next-box">
      <% owner = @user.matches %>
      <% participant = @user.attendances.map(&:match) %>
      <% total = owner + participant %>
      <% first = total.sort_by(&:date).first %>
      <div class="next-list">

      <!-- if user is hosting -->

      <% if first.user == current_user %>
        <!-- this is the card diplayed -->
        <p class="next-card-title">You are hosting:</p>

        <div class="item next-card">
          <h2><%= first.sport %></h2>
            <div class="next-card-info">
              <div class="dashboard-date">
                  <%= link_to match_path(first) do %>
                    <h2><%= first.date.strftime("%b %e,") %></h2>
                    <h2><%= first.date.strftime("l:%M %p") %></h2>
                  <% end %>
              </div>

              <ul>
                <li>
                  <div class="next-location">
                    <p>Location: </p>
                    <p><%= first.location %> </p>
                  </div>
                </li>
                <li>
                <div class="next-participants">
                    <p>Participants: </p>
                  <% first.attendances.each do |attendance| %>
                    <p><%= attendance.user.nickname %></p>
                  <% end %>
              </div>
                </li>
              </ul>

                <% if policy(first).destroy? %>
                  <button id="sweet-alert-demo" class="dashboard-btn-caution">
                    <i class="fas fa-ellipsis-v"></i></button>
                  <%= link_to "", attendance_path(first.attendance), method: :delete, id: "delete-link", class: "hidden" %>
                <% end %>
                </div>
            </div>
          </div>



    <!-- if user is joining -->
      <% else %>
      <p class="next-card-title">You are joining:</p>
      <div class="item next-card">
          <h2><%= first.sport %></h2>
            <div class="next-card-info">
              <div class="dashboard-date">
                  <%= link_to match_path(first) do %>
                    <h2><%= first.date.strftime("%b %e,") %></h2>
                    <h2><%= first.date.strftime("l:%M %p") %></h2>
                  <% end %>
              </div>

              <ul>
                <li>
                  <div class="next-location">
                    <p>Location: </p>
                    <p><%= first.location %> </p>
                  </div>
                </li>
                <li>
                <div class="next-participants">
                    <p>Participants: </p>
                  <% first.attendances.each do |attendance| %>
                    <p><%= attendance.user.nickname %></p>
                  <% end %>
              </div>
                </li>
              </ul>

                <% if policy(first).destroy? %>
                  <button id="sweet-alert-demo" class="dashboard-btn-caution">
                    <i class="fas fa-ellipsis-v"></i></button>
                  <%= link_to "", attendance_path(first.attendance), method: :delete, id: "delete-link", class: "hidden" %>
                <% end %>
                </div>
            </div>
          </div>


      <% end %>

      </div>

    </div>
  </div>
