<% @user.matches.sort_by{ |match| match.date }.each do |match| %>
  <div class="col-12 col-md-6">
    <% if match.date < Date.today %>
      <div class="show-card-background-owner-done mt-3 mx-5">
        <div class="product-owner">
          <p><%= match.sport %></p>
          <h1><%= match.date.strftime("%b %e, %l:%M %p") %></h1>
          <h2><%= match.location %></h2>
          <div class="desc mx-5">
            <p>Number of Participants: <%= match.attendances.count %></p>
            <p>Participants:</p>
            <ul>
              <% match.attendances.each do |attendance| %>
                <li><%= attendance.user.nickname %> is <%= attendance.status %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>