<div class="container">
  <div class="banner" style="background-image: linear-gradient(to bottom right, rgba(37,37,37,1), rgba(37,37,37,0.9));">
    <div class="container">
      <%= render "shared/logo" %>
      <%= form_with url: matches_path, method: :get, local:true, class: 'form-inline' do %>
        <div class="form-group mr-2">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "e.g. Tokyo"
        %>
        </div>
        <div class="form-group mr-2">
          <%= submit_tag "Find a match near you", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="index-container">
    <h2>Featured Matches in Tokyo</h2>
    <div class="card-matches">
      <% @matches.first(3).each do |match| %>
        <div class="card-match-wrap">
          <%= link_to match_path(match), class: "card-match" do %>
            <div class="card-background-black">
              <% if match.photo.attached? %>
                <%= cl_image_tag match.photo.key %>
              <% else %>
                <% url = "https://loremflickr.com/320/240/#{match.sport},ball/all?random=#{rand(1..500)}" %>
                <img src=<%= url %> />
              <% end %>
              <div class="card-match-infos">
                <p><%= match.sport %><br>
                  Hosted by: <%= match.user.nickname %></p>
                <h1><%= match.date.strftime("%b %e, %l:%M %p") %></h1>
                <h2><%= match.location %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>