<div class="banner" style="background-image: linear-gradient(to bottom right, rgba(37,37,37,1), rgba(37,37,37,0.9));">
  <div class="container">
    <h1>#wanna play?</h1>
    <form class="form-inline">
      <div class="form-group mr-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="e.g. Tokyo">
      </div>
      <%= link_to matches_path do %>
        <button class="btn btn-warning">Find a match near you</button>
      <% end %>
    </form>
  </div>
</div>
<div class="index-container">
  <h2>Featured Matches in Tokyo</h2>
  <div class="card-matches">
    <% @matches.first(3).each do |match| %>
      <div class="card-match-wrap">
        <%= link_to match_path(match), class: "card-match" do %>
          <div class="card-background-black">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-match-infos">
              <div>
                <h2><%= match.sport %></h2>
              </div>
              <p>Hosted by: <%= match.user.nickname %><br>
                Location: <%= match.location %></p>
              <p>When: <%= match.date.strftime("%b %e, %l:%M %p") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>