<div class="card-match-infos">
  <h2><%= match.sport %></h2>
  <p><%= match.date.strftime("%b %e, %l:%M %p") %></p>
  <p>Hosted by: <%= match.user.nickname %><br>
    Location: <%= match.city %><br>
    Address: <%= match.location %></p>
  <%= link_to 'more details', match_path(match), class: 'btn btn-outline-secondary'%>
</div>