<h1>INDEX page</h1>
<p>should be able to see all matches regardless of authorization / authentication</p>
<% @matches.each do |match| %>
  <ul>
    <li>Sport: <%= match.sport %></li>
    <li>Location: <%= match.location %></li>
    <li>Description: <%= match.description %></li>
    <li>Creator: <%= match.user.nickname %></li>
    <li><%= link_to "go to match", match_path(match)  %></li>
  </ul>
<% end %>