<div class="container">
  <div class="form-box">
    <h2>Host a match!</h2>
    <%= simple_form_for(@match) do |f| %>
      <%= f.input :sport, collection: Match::SPORTS %>
      <%= f.input :date %>
      <%= f.input :city %>
      <%= f.input :location, :label => "Address" %>
      <%= f.input :min_attendent %>
      <%= f.input :max_attendent %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'post', class: "submit-btn" %>
      <%= f.button :button, "rewrite all", type: "reset", class: "btn-outline-secondary" %>
    <% end %>
  </div>
</div>