<div class="container">
  <div class="show-card-background mt-3">
    <div id="map"
     style="width: 40%; height: 480px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="product">
      <p><%= @match.sport %></p>
      <h1><%= @match.date.strftime("%b %e, %l:%M %p") %></h1>
      <h2><%= @match.location %></h2>
      <p class="desc"><%= @match.description %></p>
      <p class="desc">Max. Participants: <%= @match.max_attendent %><br>
        Current Participants: <%= @match.attendances.count %></p>
      <% if @match.date < Date.today %>
        <p>This match has aleady been played</p>
      <% elsif @match.attendances.any? { |attendance| attendance.user == current_user } %>
        <p>You have already signed up to this match</p>
      <% elsif @match.attendances.count == @match.max_attendent  %>
        <p>Sorry, Max number of participants reached</p>
      <% else %>
        <%= simple_form_for [@match, @attendance] do |f| %>
          <%= f.submit "Join", class: "add join-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to matches_path do %>
    <p>see all matches</p>
  <% end %>
</div>